<title>Kirby Mekler</title>
<div class="grid">
	<figure class="effect-kirby">
		<!-- <img src="assets/cacti.JPG" alt="img01"/> -->
		<figcaption>
			<br>
			<div class="col-md-12 name">
				<h2>Kirby Mekler</h2>
			</div>
			<p class="title">Software Engineer</p>
			<!-- <a href="#">View more</a> -->
		</figcaption>			
	</figure>	
</div>
<div>
	<br><br>
	<center><h4 class="col-md-6 col-lg-6 intro"><span class="hi">Hi, my name's Kirby! I'm a software engineer.</span> 
		<br><br>
		If you'd like to work together, drop me a line at <a href="mailto:kirbymekler@gmail.com?Subject=Hi%20there!" target="_top">kirbymekler@gmail.com</a>.
		<br><br>
		In the meantime, keep scrolling to see what I've been working on and to meet my cool assistants! (You'll also find more contact information and a little bit more about me.)
		<br><br>
	</h4></center>
	<img class="col-md-6 col-lg-6 me" src="assets/clique.PNG">
</div>
<div class='work-section'>
	<h1 class="work">Work</h1>
	<br>
	<span>
		<a href="http://www.labroots.com/" target="_blank"><img class="work-items" src="assets/lr-testimonials.png">
		<span class="company">Labroots</span></a>
	</span>
	<span>
		<a href="http://shop.whowhatwear.com/" target="_blank"><img class="work-items" src="assets/search.png">
		<span class="company">Clique Media</span></a>
	</span>
	<span>
		<a href="http://chomp-app.herokuapp.com/" target="_blank"><img class="work-items" src="assets/chomp.png">
		<span class="company">Chomp</span></a>
	</span>
	<br>
	<span>
		<a href="http://journey3.herokuapp.com/" target="_blank"><img class="work-items" src="assets/journey.png">
		<span class="company">Journey</span></a>
	</span>
	<span>
		<a href="http://rentalfox.herokuapp.com/session/new" target="_blank"><img class="work-items" src="assets/rentalfox.png">
		<span class="company">RentalFox</span></a>
	</span>
	<div class="resume">Download my resume <a href="assets/mekler-resume.pdf" target="_blank" download>here</a>.</div>
</div>
<div class="about-section">
	<h1 class="about">About Me</h1>
	<div class="about-text">
		<h4>As I mentioned above, my name's Kirby and I'm a software engineer. Los Angeles based, to be specific!</h4>
		<div class="row">
			<h4 class="col-md-8 col-sm-12 about-text2">I enjoy working in a full stack capacity, because variety is fun for me. I've also got a background in digital marketing, entertainment and events, which gives me a unique perspective when interacting with clients. Work aside, I love dogs, food (both cooking and eating), and a good adventure.</h4>
		</div>
		<h4>Here are a few of my key proficiencies:</h4>
		<div class="row list">
			<div class="col-md-2 col-sm-4">
				<li>PHP</li>
				<li>MySQL</li>
				<li>Laravel</li>
				<li>Python</li>
				<li>Ruby on Rails</li>
				<li>GitHub</li>
			</div>
			<div class="col-md-3 col-sm-4">
				<li>HTML/CSS</li>
				<li>SASS/LESS</li>
				<li>Javascript</li>
				<li>jQuery</li>
				<li>AWS</li>
				<li>Twitter Bootstrap</li>
			</div>
		</div>
	</div>
</div>
<div class="assistants-section">
	<h1 class="assistants">Meet My Assistants</h1>
	<div class="row dogs-container">
		<div class="col-md-4 col-sm-6">
			<img class="dogs" src="assets/penny.JPG">
			<h3 class="pennygizmo">Penny</h3>
		</div>
		<div class="col-md-4 col-sm-6">
			<img class="dogs" src="assets/gizmo.JPG">
			<h3 class="pennygizmo">Gizmo</h3>
		</div>
	</div>
</div>
<div class="contact-section">
	<h1 class="contact">Contact</h1>
	<h4><a href="mailto:kirbymekler@gmail.com?Subject=Hi%20there!" target="_top">kirbymekler@gmail.com</a></h4>
	<h4>(786) 877-5558</h4>
	<h4 class="last-line">You can also find me on <a href="https://www.linkedin.com/in/kirby-mekler-910b9224" target="_blank">LinkedIn</a> and <a href="https://github.com/kmekler" target="_blank">GitHub</a>!</h4>

</div>