<title>Kirby Mekler</title>
<div class="grid">
	<figure class="effect-kirby">
		<!-- <img src="assets/trees.jpg" alt="img01"/> -->
		<figcaption>
			<br>
			<div class="col-md-12 name">
				<h2>Kirby<span> Mekler</span></h2>
			</div><
			<p class="title">Junior Front End Developer / Bear</p>
			<!-- <a href="#">View more</a> -->
		</figcaption>			
	</figure>	
</div>
<div>
	<br><br>
	<center><h4 class="col-md-6 about">Hi! My name's Kirby.
		<br><br> I'm a digital marketer turned web developer looking for a junior front end development role.
		<br><br> I love animals, adventure, and good design. <br>(Oh yeah, and I'm actually human. Bummer, I know.)
		<br><br>
		To check out my work, keep scrolling!
	</h4></center>
	<img class="col-md-6 me" src="assets/me.jpg">
</div>