<title>Kirby Mekler</title>
<div class="grid">
	<figure class="effect-kirby">
		<!-- <img src="assets/trees.jpg" alt="img01"/> -->
		<figcaption>
			<br>
			<div class="col-md-12 name">
				<h2>Kirby<span> Mekler</span></h2>
			</div><
			<p class="title">Junior Front End Developer / Bear</p>
			<!-- <a href="#">View more</a> -->
		</figcaption>			
	</figure>	
</div>
<div>
	<br><br>
	<center><h4 class="col-md-6 about">Okay, fine, I'm human. Actually, there I am on the right!
		<br><br> I'm a digital marketer turned web developer looking for a junior front end development role.
	</h4></center>
	<img class="col-md-6 me" src="assets/me.jpg">
</div>