 @import 'bootstrap';
 @import url('https://fonts.googleapis.com/css?family=Raleway:100');

 * { 

	html,body
	{
	    width: 100%;
	    height: 100%;
	    margin: 0px;
	    padding: 0px;
		font-family: 'Raleway', sans-serif;
	    overflow-x: hidden; 
	    ::selection {
		  background: #fff4f0; /* WebKit/Blink Browsers */
		}
		::-moz-selection {
		  background: #fff4f0; /* Gecko Browsers */

		}
	}

	color: black;

}

.header-pic {
	padding: 0;
	margin-bottom: 50px;
    height: auto;
    width: 100%;
}

.title {
	color: #d49baf;
	font-size: 25px;
}

.intro {
	margin-left: 10%;
	margin-top: -32%;
}
.name {
	font-size: 80px;
	color: white;
	border-bottom: solid 1px #d80070;
	padding-bottom: 8px;
	padding-bottom: 8px;
}

.work-section {
	text-align: center;
	margin-top: 32%;
	padding-top: 15px;
	width: 100%;
}
.work {
	font-size: 45px;
	color: #2d6b02;
	margin: 0 auto;
}
.work-items {
	height:300px;
	width:300px;
	padding: 10px 25px 25px 25px;
	overflow:hidden;
	margin:auto;
	// For mobile
	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	  	margin-left: 8%;
	}
}

.resume {
	margin-top: 20px;
	font-size: 18px;
	padding-bottom: 30px;
}
.about-section {
	text-align: center;
	margin: 0 auto;
}
.about-text2 {
	text-align: center;
	margin-left: 17%;

	// For mobile
	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	  	margin-left: 2%;
	}
}
.about {
	// font-family: 'Raleway', sans-serif;
	font-size: 45px;
	margin: 0 auto;
	padding-top: 30px;
	color: #2d6b02;
	border-bottom: solid 1px #d80070;
	padding-bottom: 8px;
}
.list {
	margin-left: 37%;
	margin-bottom: 2%;


	// For mobile
	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	  	margin-left: -5%;
	}
}
.assistants-section {
	text-align: center;
	margin: 0 auto;
}
.assistants {
	font-size: 45px;
    margin: 40px auto;
	padding-top: 30px;
	padding-bottom: 2%;
	color: #2d6b02;
	border-bottom: solid 1px #d80070;
	padding-bottom: 8px;
}
.dogs-container {
	    margin-left: 24%;
}

.dogs {
	background-size:720px 480px;
	background-position:-160px 0px;
	height:300px;
	width:300px;
	border-radius:50%;
	overflow:hidden;
	margin:auto;
		border: 8px solid white;
}
.pennygizmo {
	margin-bottom: 7%;

}
.contact-section {
	text-align: center;
	margin: 0 auto;
}
.contact {
	font-size: 45px;
	margin: 0 auto;
	padding-top: 30px;	
	color: #2d6b02;
	width: 100%;
}
.border {
    border-bottom: solid 1px #d80070;
	padding-bottom: 8px;
	width: 70%;
}
.last-line {
	margin-bottom: 3%;
}

.about-text {
	margin: 0
}

@media (max-width: 1140px) {
	.dogs-container {
		margin-left: 15%;
		width: 100%;
	}
}


@media (max-width: 960px) {
	.name {
		font-size: 30px;
	}
	.intro {
	    margin-top: -38%;
	}

	.dogs-container {
		width: 100%;
		margin: 0 auto;
	}
}

@media (max-width: 770px) {
	.name {
		font-size: 25px;
	}

	.intro {
	    margin-left: -35%;
	    margin-top: -58%;
	}

	.work-section {
		margin-top: 0px;
		padding-top: 0px;
	}
	.about-section {
		padding: 0 5px 0 5px;
	}

	.dogs-container {
		margin: 0 auto;
	}


	.about-text {
		margin: 0 auto;
	}

	.list {
		margin: 0 auto;
	}

	.about-text2 {
		margin: 0 auto;
	}
}