/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */
 @import 'bootstrap';
 @import url(https://fonts.googleapis.com/css?family=Satisfy);
 * {

	html,body
	{
	    width: 100%;
	    height: 100%;
	    margin: 0px;
	    padding: 0px;
	    overflow-x: hidden; 
	}

	margin: 0 auto;
	padding: 0;

	font-family: helvetica;
	color: black;

}

figure {
	background-image: url(la.jpg);
	width: 100%;
	height: 500px;
	background-size: 100% 100%;	
}

figure.effect-kirby figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 500px;
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
	transform: translate3d(0,50%,0);
}

figure.effect-kirby h2 {
	position: absolute;
	top: 35%;
	left: 5%;
	text-align: left;
	font-size: 38px;
	width: 100%;
	color: #484c61;
	transition: transform 0.35s, color 0.35s;
	transform: translate3d(0,-50%,0);
}

figure.effect-kirby figcaption::before,
figure.effect-kirby p {
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-kirby p {
	position: absolute;
	top: 30%;
	left: 0.5%;
	padding: 2em;
	width: 100%;
	opacity: 0;
	color: white;
	transform: translate3d(0,10px,0);
}

figure.effect-kirby:hover h2 {
	color: #fff;
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-kirby:hover figcaption::before ,
figure.effect-kirby:hover p {
	opacity: 1;
	transform: translate3d(0,0,0);
}

.name {
	margin-top: 20%;
	color: white;
    font-family: 'Satisfy', cursive;
}

.title {
	margin-left: 5%;
	margin-top: 3%;
}

.intro {
	margin-left: 10%;
	margin-top: 8%;
}
.hi {
	font-family: 'Satisfy', cursive;
	font-size: 26px;
}

.me {
	margin-right: 0px;
	background-size:720px 480px;
	background-position:-160px 0px;
	height:300px;
	width:300px;
	border-radius:50%;
	border: 8px solid white;
	overflow:hidden;
	margin:auto;
}

.work-section {
	text-align: center;
	margin-top: 32%;
	padding-top: 15px;
	background-color: rgb(231,231,231);
}
.work {
	font-family: 'Satisfy', cursive;
	font-size: 45px;
}
.work-items {
	height:300px;
	width:300px;
	padding: 10px 25px 25px 25px;
	overflow:hidden;
	margin:auto;
}
.company {
	margin-top: 280px;
	position: absolute;
	margin-left: -14%;
	text-align: center;
}
.resume {
	margin-top: 20px;
	font-size: 18px;
	padding-bottom: 30px;
}
.about-section {
	text-align: center;
	margin: 0 auto;
}
.about-text2 {
	text-align: center;
	margin-left: 17%;
}
.about {
	font-family: 'Satisfy', cursive;
	font-size: 45px;
	margin: 0 auto;
	padding-top: 30px;
}
.list {
	margin-left: 37%;
	margin-bottom: 2%;
}
.assistants-section {
	text-align: center;
	margin: 0 auto;
	background-color: rgb(231,231,231);
}
.assistants {
	font-family: 'Satisfy', cursive;
	font-size: 45px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 2%;
}
.dogs-container {
	margin-left: 24%;	
}
.dogs {
	background-size:720px 480px;
	background-position:-160px 0px;
	height:300px;
	width:300px;
	border-radius:50%;
	border: 8px solid rgb(231,231,231);
	overflow:hidden;
	margin:auto;
}
.pennygizmo {
	margin-bottom: 7%;
}
.contact-section {
	text-align: center;
	margin: 0 auto;
}
.contact {
	font-family: 'Satisfy', cursive;
	font-size: 45px;
	margin: 0 auto;
	padding-top: 30px;	
}
.last-line {
	margin-bottom: 3%;
}